<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Start</title>
    <link rel="stylesheet" href="/../css/main.css"/>
</head>
<body>

<div id="container">
    <div id="header"><h1>Admin page</h1></div>

    <div id="wrapper">
        <div id="content">

            <img id="403" src="/../img/admin.jpg"/>

            <h2>Welcome to admin page</h2>
            <p>In the admin page you can perform special modifications to the website</p>
        </div>
    </div>
</div>
</body>
</html>